.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
  }

//   .truncate:hover{
//     overflow:visible;
//   }